.navbar.navbar-default.navbar-fixed-bottom
  .container
    %p.navbar-text.pull-left.text-muted &copy 2015 WTGT
    %p.navbar-text.pull-right #{link_to 'Me', 'http://github.com/ppj'} & my #{link_to 'blog', 'http://ppj.github.io'}
