%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    = link_to "WTGT", root_path, class: "navbar-brand"
    -if logged_in?
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle#dlabel(href="#" data-toggle="dropdown" role="button" aria-expanded="false" data-target="#")
            Welcome, #{current_user.fullname}
            %b.caret
              %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
                %li
                  %a(href="#") Account
              %a(href="#") Plan and Billing
              =link_to "Sign Out", sign_out_path, method: :delete

