.section.site_title
  %h1
    Start creating your wishlist for travel destinations right now!
    = link_to "Sign Up Now!"
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", sign_in_path

