.jumbotron
  %h1
    Want to go there?
  %p.lead
    Wishlist your travel destinations right now!
%p
  .text-center
    = link_to sign_up_path, id: "sign-up-button", class: "btn btn-success btn-lg", role: "button" do
      %h4
        %span.glyphicon.glyphicon-hand-right
        Sign Up & Get Started!
